#contact i{
  color: var(--color-primary);
}
#contact textarea,
#contact input {
  color: var(--color-dark);
  transition: all 0.3s;
}
#contact textarea:focus,
#contact input:focus {
  border: 1px solid var(--color-primary);
}
#contact button {
  background-color: var(--color-primary);
  color: #f7fafc;
}
#contact button i {
  color: #f7fafc;
}

.label-contact {
  color: var(--color-accent);
  font-weight: 700;
}