<section
  id="about"
  class="pt-20 bg-background-color text-text-color transition-colors duration-300"
>
  <div class="container mx-auto px-4">
    <div class="text-center info-about">
      <h2 class="text-4xl font-bold mb-8">About Us</h2>
      <p class="text-lg mb-4">
        From start to end, we bring your dreams to life.
      </p>
      <p class="text-lg mb-12">
        Your home is our priority, we only bring our best to a project, ensuring
        your home is our best yet.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-12 panel-mission">
      <div class="rounded-lg shadow-lg p-6 mission-style" data-aos="fade-right">
        <h3 class="text-3xl font-semibold mb-4">Our Mission</h3>
        <p class="text-lg">
          To provide exceptional construction services by building high-quality
          homes that exceed our clients' expectations.
        </p>
      </div>
      <div class="rounded-lg shadow-lg p-6 vision-style" data-aos="fade-left">
        <h3 class="text-3xl font-semibold mb-4">Our Vision</h3>
        <p class="text-lg">
          To be the leading home construction company recognized for our
          innovative design, quality craftsmanship, and commitment to customer
          satisfaction.
        </p>
      </div>
    </div>

    <div class="mb-12">
      <h3 class="text-3xl font-semibold mb-4">Our Core Values</h3>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 panel-core">
        <div class="p-6 panel-small-container rounded-lg shadow-lg">
          <h4 class="text-2xl font-bold mb-4">Quality</h4>
          <p data-aos="zoom-in">
            We use only the best materials and craftsmanship to ensure our homes
            are built to last.
          </p>
        </div>
        <div class="p-6 panel-small-container rounded-lg shadow-lg">
          <h4 class="text-2xl font-bold mb-4">Integrity</h4>
          <p data-aos="zoom-in">
            We conduct our business with the highest level of honesty and
            transparency.
          </p>
        </div>
        <div class="p-6 panel-small-container rounded-lg shadow-lg">
          <h4 class="text-2xl font-bold mb-4">Customer Satisfaction</h4>
          <p data-aos="zoom-in">
            We strive to exceed our clients' expectations at every step of the
            process.
          </p>
        </div>
      </div>
    </div>

    <div class="mb-12">
      <h3 class="text-3xl font-semibold mb-4">Meet Our Team</h3>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div
          class="flex items-center flex-col"
          *ngFor="let profile of profiles"
        >
          <picture>
            <source [srcset]="profile.imgWebp" type="image/webp" width="200" height="200"/>
            <img
              [src]="profile.image"
              [alt]="profile.name"
              loading="lazy"
              width="200"
              height="200"
              class="rounded-lg mb-4 relative top-8"
              data-aos="flip-left"
            />
          </picture>

          <div
            class="p-6 panel-small-container rounded-lg shadow-lg text-center"
          >
            <h4 class="text-2xl font-bold mb-2">{{ profile.name }}</h4>
            <p class="text-sm team-job dark:text-gray-300">
              {{ profile.occupation }}
            </p>
            <p>
              {{ profile.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
