<section id="about" class="pt-20 bg-background-color text-text-color transition-colors duration-300">
  <div class="container mx-auto px-4">
    <div class="text-center info-about">
      <h2 class="text-4xl font-bold mb-8">About Us</h2>
      <p class="text-lg mb-4">From start to end, we bring your dreams to life.</p>
      <p class="text-lg mb-12">Your home is our priority, we only bring our best to a project, ensuring your home is our best yet.</p>
    </div>
    
    <!-- Mission Statement -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-12 panel-mission">
      <div class="rounded-lg shadow-lg p-6 mission-style" data-aos="fade-right">
        <h3 class="text-3xl font-semibold mb-4">Our Mission</h3>
        <p class="text-lg">To provide exceptional construction services by building high-quality homes that exceed our clients' expectations.</p>
      </div>
      <div class="rounded-lg shadow-lg p-6 vision-style" data-aos="fade-left">
        <h3 class="text-3xl font-semibold mb-4">Our Vision</h3>
        <p class="text-lg">To be the leading home construction company recognized for our innovative design, quality craftsmanship, and commitment to customer satisfaction.</p>
      </div>
    </div>
    
    <!-- Core Values -->
    <div class="mb-12 ">
      <h3 class="text-3xl font-semibold mb-4">Our Core Values</h3>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 panel-core">
        <div class="p-6 panel-small-container rounded-lg shadow-lg" data-aos="zoom-in-right">
          <h4 class="text-2xl font-bold mb-4">Quality</h4>
          <p>We use only the best materials and craftsmanship to ensure our homes are built to last.</p>
        </div>
        <div class="p-6 panel-small-container rounded-lg shadow-lg" data-aos="zoom-in">
          <h4 class="text-2xl font-bold mb-4">Integrity</h4>
          <p>We conduct our business with the highest level of honesty and transparency.</p>
        </div>
        <div class="p-6 panel-small-container rounded-lg shadow-lg" data-aos="zoom-in-left">
          <h4 class="text-2xl font-bold mb-4">Customer Satisfaction</h4>
          <p>We strive to exceed our clients' expectations at every step of the process.</p>
        </div>
      </div>
    </div>
    
    <!-- Team Introduction -->
    <div class="mb-12">
      <h3 class="text-3xl font-semibold mb-4">Meet Our Team</h3>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="p-6 panel-small-container rounded-lg shadow-lg" data-aos="flip-left">
          <img src="/assets/perfils/perfil2.png" alt="Team Member 1" class="w-full h-48 object-cover rounded-lg mb-4">
          <h4 class="text-2xl font-bold mb-2">John Doe</h4>
          <p class="text-sm team-job dark:text-gray-300">Chief Executive Officer</p>
          <p>John leads our team with over 20 years of experience in the construction industry.</p>
        </div>
        <div class="p-6 panel-small-container rounded-lg shadow-lg" data-aos="flip-up">
          <img src="/assets/perfils/perfil1.png" alt="Team Member 2" class="w-full h-48 object-cover rounded-lg mb-4">
          <h4 class="text-2xl font-bold mb-2">Jane Smith</h4>
          <p class="text-sm team-job dark:text-gray-300">Project Manager</p>
          <p>Jane ensures that every project is completed on time and to the highest standards.</p>
        </div>
        <div class="p-6 panel-small-container rounded-lg shadow-lg" data-aos="flip-right">
          <img src="/assets/perfils/perfil6.png" alt="Team Member 3" class="w-full h-48 object-cover rounded-lg mb-4">
          <h4 class="text-2xl font-bold mb-2">Michael Johnson</h4>
          <p class="text-sm team-job dark:text-gray-300">Lead Architect</p>
          <p>Michael designs our homes with creativity and precision, making your dream home a reality.</p>
        </div>
      </div>
    </div>
    
  </div>
</section>
