
nav.mysticky {
  background-color: var(--color-light-transparent)
}

.nav-link {
  transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
  background-color: var(--color-primary);
  opacity: .7;
  color: white;
}
.active-nav-link {
  background-color: var(--color-primary);
  color: white;
}
/* Theme Button Styles */
.theme-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.theme-one {
  background: linear-gradient(135deg, blue, red);
}

.theme-two {
  background: linear-gradient(135deg, green, lightblue);
}

.theme-toggle {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.theme-button {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.theme-toggle {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--color-dark);
  color: var(--color-white);
  cursor: pointer;
  transition: all .3s ease-in;
  border-radius: 50%;
}
.btn-menu-movil {
  color: var(--color-dark);
  
}
.theme-one {
  background-image: url('/image1.png');
}
.menu-links >a:focus{
  background-color: var(--color-primary);
  color: white;
}

.dropdown-menu {
  background-color: var(--color-light-transparent);

}