#home h1 {
  color: var(--color-accent);
  transition: all 0.3s;
}
#home p {
  color: var(--color-dark);
  transition: all 0.3s;
}
#home .bg-home {
  background-color: var(--color-light);
}
#home .btn-contact {
  background-color: var(--color-primary);
}
#home .btn-bottom {
  background-color: var(--color-dark);
  color: var(--color-light);
}
#home .logo-style {
  background-color: var(--color-white);
  transition: all 0.3s;
}

section#home {
  position: relative;
  overflow: hidden;
  background-image: url("https://res.cloudinary.com/djsl4a5py/image/upload/v1721454906/project5_qnn32b_11zon_v3v35u.webp");
  background-attachment: fixed;
}

section#home .absolute {
  position: absolute;
}

section#home .relative {
  position: relative;
}

.link-effect {
  color: var(--accent-color);
  transition: color 0.3s, transform 0.3s;
  transform: translateX(-50%);
}

.link-effect:hover,
.link-effect:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  transform: translateY(-12px);
  transform: translateX(-50%);
}

.link-effect:active {
  color: var(--white-color);
  transform: translateY(0);
  transform: translateX(-50%);
}
