
  section#home {
    position: relative;
    overflow: hidden;
    background-image: url("/assets/imgs/project3.jpg");
    background-attachment: fixed;
  }
  
  section#home .absolute {
    position: absolute;
  }
  
  section#home .relative {
    position: relative;
  }

  .link-effect {
    color: var(--accent-color);
    transition: color 0.3s, transform 0.3s;
    transform: translateX(-50%);
  }
  
  .link-effect:hover, .link-effect:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    transform: translateY(-12px);
    transform: translateX(-50%);
  }
  
  .link-effect:active {
    color: var(--white-color);
    transform: translateY(0);
    transform: translateX(-50%);
  }
  