#testimonials button {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-1\/2 {
  top: 50%;
}

.h-96 {
  height: 24rem;
}

.overflow-hidden {
  overflow: hidden;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fa-star,
.fa-star-o {
  font-size: 1.25rem;
  margin: 0 0.1rem;
}
