@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #901d20;
  --color-secondary: #7d7262;
  --color-info: #4a5568;
  --color-dark: #1a202c;
  --color-light: #f7fafc;
  --color-white: #ffffff;
  --color-accent: #901d20;
  --color-accent2: #f7fafc;
}

.theme-dark {
  --color-info: #8093b4;
  --color-dark: #f7fafc;
  --color-light: #1a202c;
  --color-white: #12161f;
  --color-accent: #f7fafc;
  --color-accent2: #c9b79d;
}

html,
body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-light);
  color: var(--color-info);
  transition: all 0.3s;
}

h2,
h3,
h4,
h5,
h6,
a {
  color: var(--color-dark);
  transition: background-color 0.3s, box-shadow 0.3s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes bounce-x {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

.animate-slide-in {
  animation: slideIn 1s ease-in-out 0.5s;
  translate: translateX(-20px);
}

.animate-bounce {
  animation: bounce 2s infinite;
}
.animate-bounce-x {
  animation: bounce-x 2s infinite;
}

.panel-small-container {
  background-color: var(--color-white);
  transition: all 0.3s;
}

nav {
  background-color: var(--color-light);
  transition: all 0.3s ease-in;
}

p {
  color: var(--color-info);
  transition: all 0.3s;
}
